div{
    background-color: #b099da;
    align-items: center;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoAp{
    width:150px;
    height: 90px; 
}

.log{
    height: 40px;
    padding:3px;
    color: white;
    }
button{
    border-width: medium;
}