<section>
        <h3>Mis áreas de conocimiento</h3>
            <ul>
                <img src="../../../assets/pc-display-horizontal.svg">
            PROGRAMADORA - FULL STACK DEVELOPER JR
                <li>Front End, Back End, Html, Css, Typescrypt, Angular, Bootstrap, Java, MySql</li>
                <li>Curso Argentina Programa 2022</li> 
            </ul>
            <ul>
                <img src="../../../assets/umbrella-fill.svg">
                PRODUCTORA DE SEGUROS - 10 años de experiencia.
                <li>Asesoramiento, venta y emisión de seguros patrimoniales y de personas. Atención al asegurado y gestión de siniestros.</li>
                <li>Ingreso y manejo de páginas web de Compañías de seguros.</li>
                <li>Contrato con Seguros Rivadavia, Allianz, Smg Seguros, Smg Life y Smg ART.</li> 
                <li>Título: Productora Asesora de Seguros </li>
                <li>Matrícula 77755 Superintendencia de Seguros de La Nación Años 2013 hasta la actualidad</li>
            </ul>
            <ul>
                <img src="../../../assets/airplane-fill.svg">
                AGENTE DE VIAJES - 15 años de experiencia.
                <li>Reserva, venta, asesoramiento y postventa de paquetes turísticos, pasajes, alojamiento, alquiler de autos y excursiones. Viajes corporativos. Atención grandes empresas.</li>
                <li>Manejo de sistema de reservas y emisión de pasajes aéreos SABRE</li>
                <li>Empleada agencia de viajes Espacio Verde EVT. Años 1998-2012</li> 
                <li>Título: Técnica Superior en Turismo</li>
                <li>Instituto Cardenal Ferrari Años 1997-2001</li>
            </ul>
            <ul>
                <img src="../../../assets/keyboard-fill.svg">
                DATA ENTRY
                <li>Ingreso de datos generales de clientes</li>
                <li>Manejo eficiente de teclado qwerty, excel y word</li>
                <li>Empleada empresa textil Comma (Campaña fidelización de clientes) Año 1998</li> 
                <li>Título: Bachiller orientación Turismo Año 1996. Aprendizaje de computación autodidacta.</li>
                <li>Escuela Normal Superior N°9 Domingo Faustino Sarmiento Años 1991-1996</li>
                
            </ul>
</section>