<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.jpg" alt="Fuentes Carolina Inés" title="Fuentes Carolina Inés"
        class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <h1 id="nombre">Fuentes Carolina Inés</h1>
        <h3>Full Stack Developer Jr</h3>
        <h1> ----------------------- </h1>
        <h2>Sobre mí</h2>
        <h5>Mi experiencia profesional en diversas áreas me permite abordar nuevos desafíos con una visión original y resolverlos creativamente.</h5>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 offset-md-1 offset-lg-1">
        <img src="../../../assets/telephone-fill.svg" alt="E-mail"> 
        <h5> +54 11 34172056 </h5>
        <img src="../../../assets/envelope-fill.svg" alt="E-mail">
        <h5>carolinainesfuentes@gmail.com</h5>
        <img src="../../../assets/geo-alt-fill.svg">
        <h5>Lomas de Zamora, Buenos Aires</h5>
    </div>
</div> 