div{
    background-color: #b099da;
    text-align: center;
    padding: 10px;
} 

div h5{
    text-align:justify;
}

.row{
    padding: 20px;
}
#nombre{
    font-weight: bold;
    margin-top: 20px;
}

#perfil{ 
    border-radius: 100%;
    box-shadow: 5px 5px 5px #5b3b61;
    }
    
.container{
    background-color: #5b3b61;
    text-align:left;
    border-radius: 5%;
    margin-top: 60px;
}

h4{
    padding: 10px;
}

span{
    padding-top: 10px;
    font-size: 18px;
}

.datos{
    background-color: #b099da
}