<div class="row">
    <div class="col-xs-12 col-sm-2">
        <img src="../../../assets/perfil.jpg" alt="Fuentes Carolina Inés" title="Fuentes Carolina Inés"
        class="img-fluid" id="perfil">
    </div>
    <div class="col-xs-12 col-sm-4">
        <h1 id="nombre">Fuentes Carolina Inés</h1>
        <h3>Full Stack Developer Jr</h3>
        <div class="container">
            <div class="datos">
                <img src="../../../assets/telephone-fill.svg" alt="E-mail"> 
                <span> +54 11 34172056 </span>
            </div>
            <div class="datos">
                <img src="../../../assets/envelope-fill.svg" alt="E-mail">
                <span>carolinainesfuentes@gmail.com</span>
            </div>
            <div class="datos">
                <img src="../../../assets/geo-alt-fill.svg">
                <span>Lomas de Zamora, Buenos Aires</span>
            </div>
        </div>       
    </div>
    <div class="col-xs-12 col-sm-4 offset-md-1">
        <h2><u>Sobre mí</u></h2>
        <h4>Me apasionan los desafíos por venir y reinventarme</h4>
        <div class="container">
            <h5>Mi experiencia profesional en diversos ámbitos me permite abordar nuevos emprendimientos con una visión original y resolverlos creativamente.</h5>
        </div>
        
    </div>
</div> 